<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Medicine Details</h4>
                      <!-- <p class="card-category">Complete Hospital Details</p> -->
                  </div>
                  <div class="card-body">


                          <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->

                    <form (submit)="onSaveMedi(postForm)" #postForm="ngForm" *ngIf="!isLoading">
                      <mat-form-field>
                        <input
                          matInput
                          type="text"
                          name="Drug"
                          [ngModel] = "medi?.Drug"
                          required
                          minlength="3"
                          placeholder="Drug name"
                          #Drug="ngModel">
                        <mat-error *ngIf="Drug.invalid">Please enter a Drug name.</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                          <input
                            matInput
                            type="text"
                            name="category"
                            [ngModel] = "medi?.category"
                            required
                            minlength="3"
                            placeholder="Category name"
                            #category="ngModel">
                          <mat-error *ngIf="category.invalid">Please enter a category name.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input
                              matInput
                              type="text"
                              name="code"
                              [ngModel] = "medi?.code"
                              required
                              minlength="3"
                              placeholder="Medicine Code"
                              #code="ngModel">
                            <mat-error *ngIf="code.invalid">Please enter medicine code </mat-error>
                          </mat-form-field>


                      <button
                        mat-raised-button
                        color="accent"
                        type="submit">Save Medicine</button>
                    </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>







<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0  && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.Hname }}
    </mat-expansion-panel-header>
      {{ post.Dirname }} <br><br>
      {{ post.content}}<br><br>
      {{ post.address }}<br><br>
      {{ post.city }} <br><br>


    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active"  >EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
 -->




<!-- =============================== -->

<!--
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="Hname"
        [ngModel] = "post?.Hname"
        required
        minlength="3"
        placeholder="Hospital name"
        #Hname="ngModel">
      <mat-error *ngIf="Hname.invalid">Please enter a hospital name.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input
          matInput
          type="text"
          name="Dirname"
          [ngModel] = "post?.Dirname"
          required
          minlength="3"
          placeholder="Director name"
          #Dirname="ngModel">
        <mat-error *ngIf="Dirname.invalid">Please enter a Director name.</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input
            matInput
            type="text"
            name="address"
            [ngModel] = "post?.address"
            required
            minlength="3"
            placeholder="address"
            #address="ngModel">
          <mat-error *ngIf="address.invalid">Please enter address </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
              matInput
              type="text"
              name="city"
              [ngModel] = "post?.city"
              required
              minlength="3"
              placeholder="City"
              #city="ngModel">
            <mat-error *ngIf="city.invalid">Please enter city.</mat-error>
          </mat-form-field>



    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        [ngModel] = "post?.content"
        required
        placeholder="Post Content"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post name.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card> -->



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

