<div class="animated fadeIn row md-12">
  <div class="row" style="width:100%">
    <!-- this include previous table -->

    <!-- medicine table -->
    <div class="col-md-12">
      <div class="main-content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Medi Details</h4>
              <p class="card-category">Recorded Details</p>
            </div>

            <div class="card-body">
              <table class="table table-responsive-sm">
                <thead>
                  <tr>
                    <th class="column">Drug Name</th>
                    <th class="column">Category</th>
                    <th class="column">Code</th>
                    <th class="column">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medi of medis">
                    <td class="column">
                      <input
                        type="text"
                        [size]="medi.Drug.length"
                        [(ngModel)]="medi.Drug"
                        style="border: none;"
                      />
                    </td>
                    <td class="column">
                      <input
                        type="text"
                        [size]="medi.category.length"
                        [(ngModel)]="medi.category"
                        style="border: none;"
                      />
                    </td>
                    <td class="column">
                      <input
                        type="text"
                        [size]="medi.code.length"
                        [(ngModel)]="medi.code"
                        style="border: none;"
                      />
                    </td>

                    <td class="column">
                      <div class="row">
                        <div class="col-md-6">
                          <a
                            mat-button
                            color="primary"
                            data-toggle="modal"
                            data-target="#modalEditMedicine"
                            (click)="getMediDetails(medi.id)"
                            >EDIT</a
                          >
                        </div>
                        <div class="col-md-6">
                          <button
                            mat-button
                            color="warn"
                            (click)="onDelete(medi.id)"
                          >
                            DELETE
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

<!-- plus button -->
<div style="margin-left: 90%">
    <button
      class="btn pmd-btn-fab pmd-ripple-effect btn-success pmd-button-raised"
      data-toggle="modal"
      data-target="#modalLoginForm"
    >
      <i class="material-icons pmd-sm">add</i>
    </button>
  </div>


        </div>
      </div>
    </div>
  </div>

  <!-- add medicine modal -->

  <div
    class="modal fade"
    id="modalLoginForm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Add Medicine</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            #closeBtn
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form
          (submit)="onSaveMedi(postForm)"
          #postForm="ngForm"
          *ngIf="!isLoading"
        >
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class=" prefix grey-text"></i>

              <mat-form-field>
                <input
                  matInput
                  type="text"
                  name="Drug"
                  [ngModel]="medi?.Drug"
                  required
                  minlength="3"
                  placeholder="Drug name"
                  #Drug="ngModel"
                />
                <mat-error *ngIf="Drug.invalid"
                  >Please enter a Drug name.</mat-error
                >
              </mat-form-field>


            </div>

            <div class="md-form mb-5">
              <i class=" prefix grey-text"></i>

              <mat-form-field>
                <input
                  matInput
                  type="text"
                  name="code"
                  [ngModel]="medi?.code"
                  required
                  minlength="3"
                  placeholder="Medicine Code"
                  #code="ngModel"
                />
                <mat-error *ngIf="code.invalid"
                  >Please enter medicine code
                </mat-error>
              </mat-form-field>


            </div>

            <div class="md-form mb-4">
              <i class="prefix grey-text"></i>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  name="category"
                  [ngModel]="medi?.category"
                  required
                  minlength="3"
                  placeholder="Category name"
                  #category="ngModel"
                />
                <mat-error *ngIf="category.invalid"
                  >Please enter a category name.</mat-error
                >
              </mat-form-field>

            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">

            <button mat-raised-button color="accent" type="submit">
              Save Medicine
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button
      type="button"
      class="justify-content-center"
      class="btn btn-info"
      data-toggle="modal"
      data-target="#modalLoginForm"
    >
      Add Medicine
    </button>


  </div>



  <!-- edit modal -->

  <div
      class="modal fade"
      id="modalEditMedicine"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Update Medicine</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              #closeEditBtn
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form (submit)="editMedicine(postForm)" #postForm="ngForm">
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class=" prefix grey-text"></i>

                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="Drug"
                    [ngModel]="medi?.Drug"
                    required
                    minlength="3"
                    placeholder="Drug name"
                    #Drug="ngModel"
                  />
                  <mat-error *ngIf="Drug.invalid"
                    >Please enter a Outlet name.</mat-error
                  >
                </mat-form-field>


              </div>

              <div class="md-form mb-5">
                <i class=" prefix grey-text"></i>

                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="code"
                    [ngModel]="medi?.code"
                    required
                    minlength="3"
                    placeholder="code name"
                    #code="ngModel"
                  />
                  <mat-error *ngIf="code.invalid"
                    >Please enter Incharge name
                  </mat-error>
                </mat-form-field>


              </div>

              <div class="md-form mb-4">
                <i class="prefix grey-text"></i>
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="category"
                    [ngModel]="medi?.category"
                    required
                    minlength="3"
                    placeholder="category"
                    #category="ngModel"
                  />
                  <mat-error *ngIf="category.invalid"
                    >Please enter a  Address.</mat-error
                  >
                </mat-form-field>

              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">

              <button mat-raised-button color="accent" type="submit">
                Update Medicine.
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>




</div>





