

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">

<div class="card-header card-header-primary">
  <h4 class="card-title">Medi Details</h4>
  <p class="card-category">Recorded Details</p>
</div>

<!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
<!-- <mat-accordion multi="true" *ngIf="medis.length > 0  && !isLoading"> -->
  <mat-expansion-panel *ngFor="let medi of medis">
    <mat-expansion-panel-header><br><br>
     <h4>Drug name:</h4>{{medi.Drug }}
    </mat-expansion-panel-header>
    <!-- <h4>category Name : </h4> {{ medi.category }} <br><br>
    <h4>Code:</h4>{{ medi.code }}<br><br> -->


    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editmedi',medi.id]" routerLinkActive="router-link-active"  >EDIT</a>
      <button mat-button color="warn" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
<!-- </mat-accordion> -->
<p class="info-text mat-body-1" *ngIf="medis.length <= 0 && !isLoading">No Medicines added yet!</p>

</div>
</div>
</div>
</div>
</div>





<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">

<div class="card-header card-header-danger">
  <h4 class="card-title">Hospitals Details</h4>
  <p class="card-category">Recorded Details</p>
</div>


<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="hospitals.length > 0  && !isLoading">
  <mat-expansion-panel *ngFor="let hospital of hospitals">
    <mat-expansion-panel-header><br><br>
     <h4>Hospital Name :</h4>{{hospital.Hname }}
    </mat-expansion-panel-header>
    <!-- <h4>Director Name : </h4> {{ hospital.Dirname }} <br><br>
    <h4>Address:</h4>{{ hospital.address }}<br><br>
    <h4>City:</h4>{{ hospital.city }} <br><br>
    <h4>Hospital content:</h4>{{ hospital.content}}<br><br> -->

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edithos', hospital.id]" routerLinkActive="router-link-active"  >EDIT</a>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="hospitals.length <= 0 && !isLoading">No Hospitals  added yet!</p>

</div>
</div>
</div>
</div>
</div>




<div class="col-lg-8">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> <strong>Item List</strong></div>
    <div class="card-body">
      <table class="table table-responsive-sm">
        <thead>
          <tr>
            <th>Hospital Name</th>
            <th>Medicine</th>
            <th>Code Number</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hospital of hospitals">
            <td><input type="text" [size]="hospital.Hname.length" [(ngModel)]="hospital.Hname"
               style="border: none; border-bottom: solid 1px;">
            </td>

              <!-- <td><input type="text" [size]="hospital.price.toString().length" [(ngModel)]="hospital.price"
                style="border: none; border-bottom: solid 1px;"></td>
              <td><input type="text" [size]="hospital.code.toString().length" [(ngModel)]="hospital.code"
                style="border: none; border-bottom: solid 1px;"></td> -->

            <!-- <td><input type="text" [(ngModel)]="hospital.date" -->
              <!-- <td> -->
                <!-- <input type="text" [(ngModel)]="hospital.date" -->
              <!-- style="border: none; border-bottom: solid 1px;"></td> -->
            <!-- <td> -->
              <!-- <button  href="#myModal" class="trigger-btn" data-toggle="modal" (click)="saveItem(item)" class="btn btn-success btn-sm">Save</button>
              <button href="#myModal2" class="trigger-btn" data-toggle="modal" (click)="removeItem(item._id)" class="btn btn-danger btn-sm ml-1">&times;</button> -->
            <!-- </td> -->
          </tr>
          <tr *ngFor="let medi of medis">
              <td><input type="text" [size]="medi.Drug.length" [(ngModel)]="medi.Drug"
                 style="border: none; border-bottom: solid 1px;">
              </td>
            </tr>
        </tbody>
      </table>

      <!-- <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="">Next</a>
        </li>
      </ul> -->
    </div>
  </div>
</div>

