

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">

<div class="card-header card-header-primary">
  <h4 class="card-title">Medi Details</h4>
  <p class="card-category">Recorded Details</p>
</div>


<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="medis.length > 0  && !isLoading">
  <mat-expansion-panel *ngFor="let medi of medis">
    <mat-expansion-panel-header><br><br>
     <h4>Drug name:</h4>{{medi.Drug }}
    </mat-expansion-panel-header>
    <h4>category Name : </h4> {{ medi.category }} <br><br>
    <h4>Code:</h4>{{ medi.code }}<br><br>


    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editmedi',medi.id]" routerLinkActive="router-link-active"  >EDIT</a>
      <button mat-button color="warn" (click)="onDelete(medi.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="medis.length <= 0 && !isLoading">No Medicines added yet!</p>

</div>
</div>
</div>
</div>
</div>
