<!-- table create -->

 <div class="animated fadeIn row md-12">
    <div class="row" style="width:100%">
      <div class="col-md-12">
        <div class="main-content">
          <div class="container-fluid">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Divisional stores</h4>
                <p class="card-category">Recorded Details</p>
              </div>

              <div class="card-body">
                <table class="table table-responsive-sm">
                  <thead>
                    <tr>
                      <th class="column">Outlet Name</th>
                      <th class="column">Incharge Name</th>
                      <th class="column">Address</th>
                      <th class="column">Reg number</th>
                      <th class="column">email</th>
                      <th class="column">Tel number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let spc of spcs">
                      <td class="column">

                        <input
                          type="text"
                          [size]="spc.OutletName.length"
                          [(ngModel)]="spc.OutletName"
                          style="border: none;"
                        />
                      </td>
                      <td class="column">

                        <input
                          type="text"
                          [size]="spc.InChargeName.length"
                          [(ngModel)]="spc.InChargeName"
                          style="border: none;"
                        />
                      </td>
                      <td class="column">

                        <input
                          type="text"
                          [size]="spc.Address.length"
                          [(ngModel)]="spc.Address"
                          style="border: none;"
                        />
                      </td>
                      <td class="column">

                        <input
                          type="text"
                          [size]="spc.RegNum.length"
                          [(ngModel)]="spc.RegNum"
                          style="border: none;"
                        />
                      </td>
                      <td class="column">

                        <input
                          type="text"
                          [size]="spc.email.length"
                          [(ngModel)]="spc.email"
                          style="border: none;"
                        />
                      </td>
                      <td class="column">

                          <input
                            type="text"
                            [size]="spc.Tel.length"
                            [(ngModel)]="spc.Tel"
                            style="border: none;"
                          />
                        </td>

                      <td class="column">
                        <div class="row">
                          <div class="col-md-6">

                            <a
                              mat-button
                              color="primary"
                              data-toggle="modal"
                              data-target="#modalEditSpc"
                              (click)="getSpcDetails(spc.id)"
                              >EDIT</a
                            >
                          </div>
                          <div class="col-md-6">
                            <button
                              mat-button
                              color="warn"
                              (click)="onDelete(spc.id)"
                            >
                              DELETE
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>





<!-- plus button -->
            <div style="margin-left: 90%">
              <button
                class="btn pmd-btn-fab pmd-ripple-effect btn-success pmd-button-raised"
                data-toggle="modal"
                data-target="#modalLoginForm"
              >
                <i class="material-icons pmd-sm">add</i>
              </button>
            </div>


          </div>
        </div>
      </div>
    </div>






<!-- add modal create -->

    <div
      class="modal fade"
      id="modalLoginForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add Devisional stores</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              #closeBtn
              >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>




          <form (submit)="onSaveSpc(postForm)"
          #postForm="ngForm"
          *ngIf="!isLoading"
          >
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class=" prefix grey-text"></i>

                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="OutletName"
                    [ngModel]="spc?.OutletName"
                    required
                    minlength="3"
                    placeholder="spc Outletname"
                    #OutletName="ngModel"
                  />
                  <mat-error *ngIf="OutletName.invalid"
                    >Please enter a Outlet Name</mat-error
                  >
                </mat-form-field>


              </div>

              <div class="md-form mb-5">
                <i class=" prefix grey-text"></i>

                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="InChargeName"
                    [ngModel]="spc?.InChargeName"
                    required
                    minlength="3"
                    placeholder="InCharge name"
                    #InChargeName="ngModel"
                  />
                  <mat-error *ngIf="InChargeName.invalid"
                    >Please enter Incharge Name
                  </mat-error>
                </mat-form-field>


              </div>

              <div class="md-form mb-4">
                <i class="prefix grey-text"></i>
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="Address"
                    [ngModel]="spc?.Address"
                    required
                    minlength="3"
                    placeholder="address"
                    #Address="ngModel"
                  />
                  <mat-error *ngIf="Address.invalid"
                    >Please enter a  Address.</mat-error
                  >
                </mat-form-field>

              </div>

              <div class="md-form mb-4">
                <i class="prefix grey-text"></i>
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="RegNum"
                    [ngModel]="spc?.RegNum"
                    required
                    minlength="3"
                    placeholder="Reg number"
                    #RegNum="ngModel"
                  />
                  <mat-error *ngIf="RegNum.invalid">Please enter a Registration number.</mat-error>
                </mat-form-field>

              </div>

              <div class="md-form mb-4">
                <i class="prefix grey-text"></i>
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="email"
                    [ngModel]="spc?.email"
                    required
                    minlength="3"
                    placeholder="email Address"
                    #email="ngModel"
                  />
                  <mat-error *ngIf="email.invalid"
                    >Please enter a Email.</mat-error
                  >
                </mat-form-field>

              </div>

              <div class="md-form mb-4">
                  <i class="prefix grey-text"></i>
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      name="Tel"
                      [ngModel]="spc?.Tel"
                      required
                      minlength="3"
                      placeholder=" telephone number"
                      #Tel="ngModel"
                    />
                    <mat-error *ngIf="Tel.invalid"
                      >Please enter a Telephone number.</mat-error
                    >
                  </mat-form-field>

                </div>

            </div>

            <div class="modal-footer d-flex justify-content-center">

              <button mat-raised-button color="accent" type="submit">
                Save Devisional store.
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>




<!-- edit modal create -->

    <div
      class="modal fade"
      id="modalEditSpc"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Update devisional stores</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              #closeEditBtn
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form (submit)="editSpc(postForm)" #postForm="ngForm">
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class=" prefix grey-text"></i>

                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="OutletName"
                    [ngModel]="spc?.OutletName"
                    required
                    minlength="3"
                    placeholder="outlet  name"
                    #OutletName="ngModel"
                  />
                  <mat-error *ngIf="OutletName.invalid"
                    >Please enter a Outlet name.</mat-error
                  >
                </mat-form-field>


              </div>

              <div class="md-form mb-5">
                <i class=" prefix grey-text"></i>

                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="InChargeName"
                    [ngModel]="spc?.InChargeName"
                    required
                    minlength="3"
                    placeholder="Incharge name"
                    #InChargeName="ngModel"
                  />
                  <mat-error *ngIf="InChargeName.invalid"
                    >Please enter Incharge name
                  </mat-error>
                </mat-form-field>


              </div>

              <div class="md-form mb-4">
                <i class="prefix grey-text"></i>
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="Address"
                    [ngModel]="spc?.Address"
                    required
                    minlength="3"
                    placeholder="Address"
                    #Address="ngModel"
                  />
                  <mat-error *ngIf="Address.invalid"
                    >Please enter a  Address.</mat-error
                  >
                </mat-form-field>

              </div>

              <div class="md-form mb-4">
                <i class="prefix grey-text"></i>
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="RegNum"
                    [ngModel]="spc?.RegNum"
                    required
                    minlength="3"
                    placeholder="Reg number"
                    #RegNum="ngModel"
                  />
                  <mat-error *ngIf="RegNum.invalid">Please enter a Reg number.</mat-error>
                </mat-form-field>

              </div>

              <div class="md-form mb-4">
                <i class="prefix grey-text"></i>
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name="email"
                    [ngModel]="spc?.email"
                    required
                    minlength="3"
                    placeholder="email"
                    #email="ngModel"
                  />
                  <mat-error *ngIf="email.invalid"
                    >Please enter a email.</mat-error
                  >
                </mat-form-field>

              </div>


              <div class="md-form mb-4">
                  <i class="prefix grey-text"></i>
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      name="Tel"
                      [ngModel]="spc?.Tel"
                      required
                      minlength="3"
                      placeholder="Telephone number"
                      #Tel="ngModel"
                    />
                    <mat-error *ngIf="Tel.invalid"
                      >Please enter a Telephone number.</mat-error
                    >
                  </mat-form-field>

                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">

              <button mat-raised-button color="accent" type="submit">
                Update Devisional stores.
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
